# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Virtual environments
venv/
env/
.venv/

# IDE / Editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Tests / Reports
htmlcov/
pytest_cache/
.coverage

# Environment variables
.env
